In [55]:
import sqlite3

if os.path.exists("another.sqlite"):
	os.remove("example.sqlite")

db = sqlite3.connect("example.sqlite")
cursor = db.cursor()

In [56]:
cursor.execute("drop table if exists students")

In [57]:
cursor.execute("create table if not exists students (netid text primary key, name text, yob int)")

In [58]:
cursor.execute("insert into students values('as312', 'Aaron Swartz', 1986)")
cursor.execute("insert into students values('bs48', 'Bruce Schneier', 1963)")
cursor.execute("insert into students values('ae133', 'Alexandra Elbakyan', 1986)")
cursor.execute("insert into students values('bl32', 'Barbara Liskov', 1939)")
cursor.execute("insert into students values('js92', 'Jason Scott', 1970)")
cursor.execute("insert into students values('ns283', 'Noam Chomsky', 1928)")
cursor.execute("insert into students values('mac18', 'maia arson crimew', 1999)")
db.commit()

In [59]:
cursor.execute("select name from students where name like '%arson%'").fetchall()

[('maia arson crimew',)]

In [60]:
cursor.execute("select netid from students").fetchall()

[('ae133',),
 ('as312',),
 ('bl32',),
 ('bs48',),
 ('js92',),
 ('mac18',),
 ('ns283',)]

In [61]:
cursor.execute("select name from students where yob=1986").fetchall()

[('Aaron Swartz',), ('Alexandra Elbakyan',)]

In [62]:
cursor.execute("update students set yob=1988 where netid='ae133'").fetchall()
db.commit()