In [1]:
import sqlite3

# https://github.com/jpwhite3/northwind-SQLite3/blob/master/dist/northwind.db
db = sqlite3.connect("northwind.sqlite")
cursor = db.cursor()

In [3]:
cursor.execute("select * from sqlite_master where type='table'").fetchone()

('table',
 'Employee',
 'Employee',
 2,
 'CREATE TABLE "Employee" \n(\n  "Id" INTEGER PRIMARY KEY, \n  "LastName" VARCHAR(8000) NULL, \n  "FirstName" VARCHAR(8000) NULL, \n  "Title" VARCHAR(8000) NULL, \n  "TitleOfCourtesy" VARCHAR(8000) NULL, \n  "BirthDate" VARCHAR(8000) NULL, \n  "HireDate" VARCHAR(8000) NULL, \n  "Address" VARCHAR(8000) NULL, \n  "City" VARCHAR(8000) NULL, \n  "Region" VARCHAR(8000) NULL, \n  "PostalCode" VARCHAR(8000) NULL, \n  "Country" VARCHAR(8000) NULL, \n  "HomePhone" VARCHAR(8000) NULL, \n  "Extension" VARCHAR(8000) NULL, \n  "Photo" BLOB NULL, \n  "Notes" VARCHAR(8000) NULL, \n  "ReportsTo" INTEGER NULL, \n  "PhotoPath" VARCHAR(8000) NULL \n)')

In [5]:
cursor.execute("select FirstName, LastName from Employee").fetchall()

[('Nancy', 'Davolio'),
 ('Andrew', 'Fuller'),
 ('Janet', 'Leverling'),
 ('Margaret', 'Peacock'),
 ('Steven', 'Buchanan'),
 ('Michael', 'Suyama'),
 ('Robert', 'King'),
 ('Laura', 'Callahan'),
 ('Anne', 'Dodsworth')]

In [6]:
cursor.execute("select * from Employee").fetchone()

(1,
 'Davolio',
 'Nancy',
 'Sales Representative',
 'Ms.',
 '1980-12-08',
 '2024-05-01',
 '507 - 20th Ave. E. Apt. 2A',
 'Seattle',
 'North America',
 '98122',
 'USA',
 '(206) 555-9857',
 '5467',
 None,
 "Education includes a BA in psychology from Colorado State University in 1970.  She also completed 'The Art of the Cold Call.'  Nancy is a member of Toastmasters International.",
 2,
 'http://accweb/emmployees/davolio.bmp')

In [7]:
cursor.execute("select FirstName, City from Employee").fetchall()

[('Nancy', 'Seattle'),
 ('Andrew', 'Tacoma'),
 ('Janet', 'Kirkland'),
 ('Margaret', 'Redmond'),
 ('Steven', 'London'),
 ('Michael', 'London'),
 ('Robert', 'London'),
 ('Laura', 'Seattle'),
 ('Anne', 'London')]

In [8]:
cursor.execute("select FirstName, Address from Employee where City='Seattle'").fetchall()

[('Nancy', '507 - 20th Ave. E. Apt. 2A'), ('Laura', '4726 - 11th Ave. N.E.')]

In [9]:
cursor.execute(
	"select FirstName, Address, City from Employee where City='Seattle' or City='Tacoma'"
).fetchall()

[('Nancy', '507 - 20th Ave. E. Apt. 2A', 'Seattle'),
 ('Andrew', '908 W. Capital Way', 'Tacoma'),
 ('Laura', '4726 - 11th Ave. N.E.', 'Seattle')]

In [10]:
cursor.execute("select ContactName from Customer where Country='Germany'").fetchall()

[('Maria Anders',),
 ('Hanna Moos',),
 ('Sven Ottlieb',),
 ('Peter Franken',),
 ('Philip Cramer',),
 ('Renate Messner',),
 ('Alexander Feuer',),
 ('Henriette Pfalzheim',),
 ('Horst Kloss',),
 ('Karin Josephs',),
 ('Rita MÃ¼ller',)]